@charset "UTF-8";

 body{
        background-color: blanchedalmond; 
        font-size: 20px;
        border-color: black;
    }

    h1{
        color: brown;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    h2{
        color:rgb(148, 137, 45);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    p{
        text-align: justify;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }