@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'amor';
    src: url('love\ story.ttf') format('truetype');
}

h1{
    font-family: 'amor', arial
}

p{
    font-family: Pacifico;
}